################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Arbo.Cloud.App/wwwroot/generated
/.vs
**/obj
**/bin
